<div class="wechat-login">
    <div>
        <img src="https://temporary-1253467197.picgz.myqcloud.com/b143e455548140e5b8b5c1b355374dbejpg" style="width: 100%" />
    </div>
    <div class="login-form">
        <form role="form" name="form" novalidate>
            <div class="form-group has-feedback" ng-class="{'has-error': form.mobile.$dirty && form.mobile.$invalid}">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号" ng-disabled="saving" ng-model="user.mobile" ng-pattern="/^1(3|4|5|7|8)[0-9]\d{8}$/" required>
                <form-error message-text="请输入手机号" ng-show="form.mobile.$error.required"></form-error>
                <form-error message-text="请输入正确的手机号码" ng-show="form.mobile.$error.pattern"></form-error>
            </div>
            <div class="clearfix">
                <div class="form-group verification-code has-feedback pull-left" ng-class="{'has-error': (form.code.$dirty && form.code.$invalid) || codeError}">
                    <input type="text" class="form-control" id="code" name="code" placeholder="手机验证码" ng-disabled="saving" ng-model="user.code" maxlength="6" required>
                    <form-error message-text="请输入手机验证码" ng-show="form.code.$error.required && !codeError"></form-error>
                    <form-error message="codeErrorMessage" ng-show="codeError"></form-error>
                </div>
                <div class="form-group send-sms has-feedback pull-right">
                    <button type="button" class="btn btn-wechat-lg-inline btn-block" ng-disabled="codeInCoolDown || saving" ng-click="sendCode(form)">{{btnCodeMessage==null?'获取验证码':btnCodeMessage}}
                    </button>
                </div>
            </div>
            <button type="button" class="btn btn-wechat-lg-inline btn-block" ng-disabled="saving" ng-click="register(form)">注册 / 登录</button>
            <form-error ng-class="{'has-error': registerError}" message="registerErrorMessage"></form-error>
        </form>
    </div>
</div>