<div class="profile">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 visible-lg-block visible-md-block visible-sm-block">
                <div class="profile-sidebar">
                    <profile-menu></profile-menu>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="profile-content">
                    <div class="title">
                        <span>修改密码</span>
                    </div>
                    <form role="form" class="form-horizontal" name="form" novalidate>

                        <div class="form-group has-feedback" ng-class="{'has-error': form.mobile.$dirty && form.mobile.$invalid}">
                            <label class="col-sm-2 control-label">手机号</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号" ng-disabled="saving" ng-model="user.mobile" ng-pattern="/^1(3|4|5|7|8)[0-9]\d{8}$/" required>
                                <form-error message-text="请输入手机号" ng-show="form.mobile.$error.required"></form-error>
                                <form-error message-text="请输入正确的手机号码" ng-show="form.mobile.$error.pattern"></form-error>
                            </div>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-error': (form.code.$dirty && form.code.$invalid) || codeError}">
                            <label class="col-sm-2 control-label">手机验证码</label>
                            <div class="col-sm-4">
                                <div class="clearfix">
                                    <div class="verification-code has-feedback pull-left" ng-class="{'has-error': (form.code.$dirty && form.code.$invalid) || codeError}">
                                        <input type="text" class="form-control" id="code" name="code" placeholder="手机验证码" ng-disabled="saving" ng-model="user.code" maxlength="6" required>
                                        <form-error message-text="请输入手机验证码" ng-show="form.code.$error.required && !codeError"></form-error>
                                        <form-error message="codeErrorMessage" ng-show="codeError"></form-error>
                                    </div>
                                    <div class="send-sms has-feedback pull-right">
                                        <button type="button" class="btn btn-primary-sm-inline btn-block" ng-disabled="codeInCoolDown || saving" ng-click="sendCode(form)">{{btnCodeMessage==null?'发送验证码':btnCodeMessage}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group has-feedback" ng-class="{'has-error': form.password.$dirty && form.password.$invalid}">
                            <label class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-4">
                                <input type="password" class="form-control" id="password" name="password" placeholder="密码" ng-disabled="saving" ng-model="user.password" ng-maxlength="16" ng-minlength="6" maxlength="16"
                                       required>
                                <form-error message-text="请输入密码" ng-show="form.password.$error.required"></form-error>
                                <form-error message-text="密码最大长度为16" ng-show="form.password.$error.maxlength"></form-error>
                                <form-error message-text="密码最小长度为6" ng-show="form.password.$error.minlength"></form-error>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-primary-sm" ng-disabled="saving" ng-click="forget(form)">保存</button>
                                <form-error ng-class="{'has-error': forgetError}" message="forgetErrorMessage"></form-error>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>