<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="qrcode">
        <div class="codeimg"></div>
        <div class="title">扫一扫</div>
        <div class="text">关注趣西藏微信公众号</div>
      </div>
      <div class="logo">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-logo"></use>
        </svg>
      </div>
      <div class="link-item about"><a ui-sref="about">关于我们</a></div>
      <div class="link-item contact"><a ui-sref="contact">联系我们</a></div>
      <div class="visible-lg-block visible-md-block visible-sm-block company">Copyright&nbsp;&copy;&nbsp;2015-2017&nbsp;qzang.cc&nbsp;All&nbsp;Rights&nbsp;Reserved&nbsp;&nbsp;&nbsp;&nbsp;成都趣藏科技有限公司&nbsp;&nbsp;&nbsp;&nbsp;蜀ICP备17008475号-1</div>
      <div class="visible-xs-block">
        <div class="company">Copyright&nbsp;&copy;&nbsp;2015-2017&nbsp;</div>
        <div class="company">qzang.cc</div>
        <div class="company">All&nbsp;Rights&nbsp;Reserved</div>
        <div class="company">成都趣藏科技有限公司</div>
      </div>
    </div>
  </div>
</footer>