<form role="form" name="form" novalidate>
    <div class="order container">

        <div class="order-nav">
            <div class="row">
                <div class="col-xs-4 order-nav-block active">
                    <div class="order-nav-bar"></div>
                    <div class="order-nav-dot"></div>
                    <div class="order-nav-text">填写订单</div>
                </div>
                <div class="col-xs-4 order-nav-block">
                    <div class="order-nav-bar"></div>
                    <div class="order-nav-dot"></div>
                    <div class="order-nav-text">在线支付</div>
                </div>
                <div class="col-xs-4 order-nav-block">
                    <div class="order-nav-bar"></div>
                    <div class="order-nav-dot"></div>
                    <div class="order-nav-text">预定完成</div>
                </div>
            </div>
        </div>

        <div class="order-content">
            <div class="table-content">
                <div class="title">订单信息</div>
                <table>
                    <tr>
                        <th>名称</th>
                        <th>数量</th>
                        <th>单价</th>
                        <th>总价</th>
                    </tr>
                    <tr>
                        <td class="product">
                            <img ng-src="{{activity.coverImg}}?imageView2/1/w/155/h/117"/><span>{{activity.title}}</span>
                        </td>
                        <td>
                            <div class="form-group item-content has-feedback pull-right" ng-class="{'has-error': form.pits.$dirty && form.pits.$invalid}">
                                <button class="btn btn-spinner" ng-click="pitMinus()">
                                    <div style="position: relative; height: 16px; width: 16px">
                                        <div class="minus"></div>
                                    </div>
                                </button>
                                <input type="text" class="form-control quantity" id="pits" name="pits" placeholder="" ng-disabled="saving" ng-model="order.pits" ng-pattern="/^[1-9]\d*$/" required>
                                <button class="btn btn-spinner" ng-click="pitAdd()">
                                    <div style="position: relative; height: 16px; width: 16px">
                                        <div class="minus"></div>
                                        <div class="pipe"></div>
                                    </div>
                                </button>
                                <form-error message-text="请输入数量" ng-show="form.pits.$error.required"></form-error>
                                <form-error message-text="请输入正确的报名人数" ng-show="form.pits.$error.pattern"></form-error>
                            </div>
                        </td>
                        <td><span class="currency">{{(activity.applicationCost / 100) | currency : '￥'}}</span></td>
                        <td><span class="currency">{{(activity.applicationCost / 100) * order.pits | currency : '￥'}}</span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="order-content">
            <div class="table-content">
                <div class="title" style="border-bottom: 1px solid #ececec">预订人信息</div>
                <div class="booking-info">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-horizontal" style="margin-top: 30px">
                                <div class="form-group has-feedback" ng-class="{'has-error': form.contactName.$dirty && form.contactName.$invalid}">
                                    <label for="contactName" class="col-sm-2 control-label">姓名</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="contactName" name="contactName" placeholder="联系人姓名" ng-disabled="saving" ng-model="order.contactName" required>
                                        <form-error message-text="请输入联系人姓名" ng-show="form.contactName.$error.required"></form-error>
                                    </div>
                                </div>
                                <div class="form-group has-feedback" ng-class="{'has-error': form.contactPhone.$dirty && form.contactPhone.$invalid}">
                                    <label for="contactPhone" class="col-sm-2 control-label">电话</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="contactPhone" name="contactPhone" placeholder="联系人电话" ng-disabled="saving" ng-model="order.contactPhone"
                                               ng-pattern="/^1(3|4|5|7|8)[0-9]\d{8}$/" required>
                                        <form-error message-text="请输入联系人电话" ng-show="form.contactPhone.$error.required"></form-error>
                                        <form-error message-text="请输入正确的手机号码" ng-show="form.contactPhone.$error.pattern"></form-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="order-summary clearfix">
            <div class="pay-info pull-left">
                <span class="currency-title">支付总金额</span>
                <!--<span class="currency-unit">¥</span>-->
                <span class="currency-number">{{(activity.applicationCost / 100) * order.pits | currency : '￥'}}</span>
            </div>
            <button class="btn btn-order-lg pull-right" ng-disabled="saving" ng-click="bookSubmit(form)">提交订单</button>
            <form-error ng-class="{'has-error': bookingError}" message="bookingErrorMessage"></form-error>
        </div>

    </div>
</form>